# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
summarize.py
.llmignore
code.txt
llm_flatten.py

src/app/router/pages/course/*

app.txt
features__auth.txt
features__localization.txt
features__navigation.txt
features__countries.txt
shared.txt
tracked_files.txt
summarize_script.txt